html,
body {
  height: 100%;
  margin: 0;
}

* {
  font-family: 'Pretendard', sans-serif !important;
}

a {
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 !important;
}

#__next {
  height: 100% !important;
}
